# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# gclient
.gclient_entries

# Output directories
/out/

# DEPS
.cipd/
buildtools/
third_party/googletest/src
third_party/mini_chromium/src
third_party/ninja
